<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>847100360370-a9dtdf5u98f82jjmgbh36vor14q5c89b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847100360370-a9dtdf5u98f82jjmgbh36vor14q5c89b</string>
	<key>API_KEY</key>
	<string>AIzaSyBwdwrO2a6AmQERUnkX_SSr0gBmoz7nj6w</string>
	<key>GCM_SENDER_ID</key>
	<string>847100360370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nathan.equipapp</string>
	<key>PROJECT_ID</key>
	<string>equipapp-220620</string>
	<key>STORAGE_BUCKET</key>
	<string>equipapp-220620.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847100360370:ios:ed03edfb75735d19</string>
	<key>DATABASE_URL</key>
	<string>https://equipapp-220620.firebaseio.com</string>
</dict>
</plist>